@import "../normalize.css/normalize.css";
@import "vars";
@import "../little-grid/little_grid";
@import "../sass-lists/_sass-lists.scss";
@import "../silent-clearfix/silent-clearfix";

// basic stuff
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

p {
  margin-bottom: $baseSpacing;
}


